.bg-transparent {
    background-color: transparent !important;
}
body.front .seasons{
    width:35px;
    height:35px;
    position:fixed;
    background-size: 100% 100%;
    z-index: 6;
}
body.not-front .seasons{
    width:35px;
    height:35px;
    position:absolute;
    background-size: 100% 100%;
    z-index: 6;
}
body.not-front .main-header-wrapper {
    z-index: auto;
}
body.not-front #container {
    height: 134px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    /*width: calc(100% - 8px);*/
    left: 0;
    right: 0;
}
@media(max-width:991px) {
    body.not-front #container{
        height: 74px;
    }
}

